.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.loginBox {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.formElement {
    width: 350px;
}

.submitButton {
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.alert {
    display: flex;
    justify-content: center;
    width: 100%;
}

.registerLink {
    color: black;
    text-decoration: none;
}
