.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionsBox {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    width: 100%;
}

.option {
    padding: 5px;
}

.option:hover {
    scale: 1.1;
}

.userDetails {
    display: flex;
    flex-direction: column;
}

.credentialsBox {
    margin-top: 20px;
}